body {
	font-family: sans-serif;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: row;
	align-items: center;


	width: 680px;
}

table {
	font-weight: normal;
}

td {
	display: block;
	margin-left: 5%;
}

ul {
	text-decoration: none;
	list-style: none;
	margin-left: -2em;
	margin-top: -15px;
}

li {
	display: inline;
	float: left;
	margin-right: 1em;
}
