body {
	font-family: sans-serif;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: row;
	align-items: center;
}

.horiz {
}

#header h1  {
	margin-left: 5%;
}

.top {
	margin-top: 10%;
}

.bot {
	align-items: bottom;
}

p {
	margin-left: 5%;
}

ul {
	text-decoration: none;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: -4%;
	margin-left: -1em;
}

li {
	display: list-item;
	margin-right: 1em;
}
